:root {
    --question-mark-color: #ff00d7;
    --question-result-green: #5fcf65;
    --question-result-yellow: #e6ad01;
    --question-result-red: #f96057;
}

[data-theme='light'] {
    --bg-image: url('../img/bg-light.png');
    --theme-bg-color: rgba(255, 255, 255, .31);
    --theme-bg-color-50: rgba(255, 255, 255, .155);
    --theme-color: #3c3a3a;
    --theme-color-50: rgb(60, 58, 58, .5);
    --border-color: rgb(255, 255, 255, .35);
}

[data-theme='dark'] {
    --bg-image: url('../img/bg-dark.jpg');
    --theme-bg-color: rgba(16, 18, 27, .4);
    --theme-bg-color-50: rgba(16, 18, 27, .20);
    --theme-color: #f9fafb;
    --theme-color-50: rgba(249, 250, 251, .5);
    --border-color: rgba(113, 119, 144, .25);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    color: var(--theme-color);
    font-family: 'Raleway', sans-serif;
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.7rem;
    transition: background-image .15s linear;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 85px;
}

h1 {
    font-size: 6rem;
    line-height: 4.5rem;
    margin: 85px 0;
    opacity: .75;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}

[data-theme="light"] h1 {
    color: #f9fafb;
}

ul {
    padding-top: .75rem;
}

li {
    margin-left: 2rem;
}

p {
    margin-top: .75rem;
}

#questionnaire {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
    width: 70%;
}

/* Question */

.question-wrapper {
    width: 100%;
    position: relative;
}

.question-wrapper span.result {
    --hh: 64px;
    --rs: 18px;

    position: absolute;
    top: calc(var(--hh) / 2 - var(--rs) / 2);
    left: calc(-1 * var(--hh) / 2 - var(--rs) / 2);
    height: var(--rs);
    width: var(--rs);
    border-radius: 50%;
    transition: background-color 0.1s linear;
}

.question-wrapper:has([type=checkbox]:checked) span.result {
    display: block;
}

.question-wrapper:has([type=checkbox][id^=correct]:checked) span.result {
    background-color: var(--question-result-green);
}

.question-wrapper:has([type=checkbox][id^=half]:checked) span.result {
    background-color: var(--question-result-yellow);
}

.question-wrapper:has([type=checkbox][id^=wrong]:checked) span.result {
    background-color: var(--question-result-red);
}

.question {
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
}

/* Question > Header */

.question .header {
    display: flex;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
    background-color: var(--theme-bg-color-50);
}

/* Question > Header > Expand button */

.question .header button.expand {
    color: inherit;
    flex-grow: 1;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.question .header button.expand::before,
.question .header button.expand::after {
    width: 80px;
    flex-shrink: 0;
}

.question .header button.expand::after {
    content: "?";
    text-align: center;
    font-size: 1.5rem;
    color: var(--question-mark-color)
}

.question .header button.expand::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    opacity: .5;
    transform: rotate(90deg);
    transition: transform .15s linear, opacity .075s linear;
}

[data-theme="dark"] .question .header button.expand::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.question .header button.expand:hover::before {
    opacity: 1;
}

.question .header button.expand[aria-expanded="true"]::before {
    transform: rotate(270deg);
}

.question .header button.expand span {
    flex-grow: 1;
    text-align: left;
    font-size: 1.4rem;
}

/* Question > Content */

.question .wrapper {
    overflow: hidden;
    transition: height 0.15s ease-out;
}

.question .wrapper[data-collapsed='true'] {
    height: 0;
}

.question .content {
    padding: 20px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.question .content .area {
    opacity: .6;
    font-size: .9rem;
}

.question .content h3 {
    line-height: 1em;
    font-weight: 500;
    padding-left: .75rem;
    margin: 1.75rem 0 .75rem;
    border-left: 1px solid var(--theme-color-50);
}

.question .content .answer {
    font-weight: 300;
}

.question .content .code-container h3 button {
    background: none;
    border: none;
    padding: 0;
    position: relative;

    inline-size: 26px;
    block-size: 26px;
    margin-left: 5px;

    aspect-ratio: 1;
    cursor: pointer;

    touch-action: manipulation;
    outline-offset: 5px;

    border-radius: 5px;
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    opacity: .8;
    transition: opacity .05s linear, transform .05s linear;
}

.question .content .code-container h3 button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.question .content .code-container h3 button:active {
    opacity: 1;
    transform: scale(.95);
}

.question .content .code-container h3 button span {
    text-align: left;
    width: 200px;
    position: absolute;
    left: 36px;
    top: 6px;
    opacity: 0;
    transition: opacity .15s linear;
}

/* Question > Footer */

.question .footer {
    /* display: none; */
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-shrink: 0;
    height: 64px;
    width: 100%;
    border-top: 1px solid var(--border-color);
    white-space: nowrap;
    font-weight: 500;
    background-color: var(--theme-bg-color);
}

.question .footer label {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: .66;
    cursor: pointer;
    transition: opacity .075s linear, background-color .075s linear, color .075s linear;
}

@media screen and (max-width: 1024px) {
    .question .footer label span {
        display: none;
    }
}

.question .footer label:hover {
    opacity: 1;
}

.question .footer label:not(:last-of-type) {
    border-right: 1px solid var(--border-color);
}

.question .footer label.half svg:nth-of-type(1) {
    margin-top: -8px;
}

.question .footer label.half svg:nth-of-type(2) {
    transform: rotate(180deg);
    margin-bottom: -8px;
    margin-left: -13px;
}

.question .footer label.wrong svg {
    transform: rotate(180deg);
}


.question .footer input:checked+label.correct {
    opacity: 1;
    background-color: var(--question-result-green);
}

.question .footer input:checked+label.half {
    opacity: 1;
    background-color: var(--question-result-yellow);
}

.question .footer input:checked+label.wrong {
    opacity: 1;
    background-color: var(--question-result-red);
}

[data-theme="light"] .question .footer input:checked+label {
    color: #f9fafb;
}

/* Controls */

.controls {
    --size: 36px;

    z-index: 999;
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.controls button {
    background: none;
    border: none;
    padding: 0;

    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    cursor: pointer;

    touch-action: manipulation;
    outline-offset: 5px;

    border-radius: 50%;
}

/* Expand all / Collapse all / Clear all */

.controls .collapse-all,
.controls .clear-all,
.controls .expand-all {
    background-color: var(--theme-bg-color);
    transition: transorm .15s linear;
}

.controls .collapse-all:hover,
.controls .clear-all:hover,
.controls .expand-all:hover {
    transform: scale(1.2);
}

.controls .collapse-all>svg,
.controls .clear-all>svg,
.controls .expand-all>svg {
    fill: var(--theme-color);
}

/* Submit all */

button.submit-all {
    background-color: #77BD42;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    touch-action: manipulation;
    outline-offset: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9fafb;
    font-size: 1.1rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .05s linear;
}

button.submit-all:hover {
    background-color: #68a439;
}

button.submit-all:active {
    transform: scale(0.9);
}

@media screen and (max-width: 1280px) {
    button.submit-all {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

/* Results */

#results {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    margin-top: 60px;
    color: #f9fafb;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    #results {
        width: 70%;
    }
}

#results h2 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 1.5em;
}

#results .score-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all .05s linear;
}

#results .score-wrapper .score {
    color: #f9fafb;
    font-size: 6rem;
    line-height: 5rem;
}

#results .score-wrapper .max-score {
    color: #dedede;
    font-size: 2rem;
    line-height: 2rem;
}

#results .learn,
#results .re-learn {
    display: none;
    font-size: 1.5rem;
}

/* Theme switcher */

.theme-toggle {
    --ease: cubic-bezier(.25, 0, .3, 1);
    --ease-out: cubic-bezier(0, 0, 0, 1);
    --ease-elastic-1: cubic-bezier(.5, 1.25, .75, 1.25);
    --ease-elastic-2: cubic-bezier(.5, 1.5, .75, 1.25);
}

[data-theme="light"] .theme-toggle {
    --icon-fill: rgba(255, 220, 50, .8);
    --icon-fill-hover: rgba(255, 220, 50, 1);
}

[data-theme="dark"] .theme-toggle {
    --icon-fill: rgba(180, 200, 230, .8);
    --icon-fill-hover: rgba(180, 200, 230, 1);
}

.theme-toggle>svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.sun-and-moon> :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
}

.sun-and-moon> :is(.moon, .sun) {
    fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon> :is(.moon, .sun) {
    fill: var(--icon-fill-hover);
}

.sun-and-moon>.sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon>.sun-beams {
    stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon>.sun {
    transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon>.sun-beams {
    opacity: 0;
}

[data-theme="dark"] .sun-and-moon>.moon>circle {
    transform: translate(-7px);
}

@supports (cx: 1) {
    [data-theme="dark"] .sun-and-moon>.moon>circle {
        transform: translate(0);
        cx: 17;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon>.sun {
        transition: transform .5s var(--ease-elastic-1);
    }

    .sun-and-moon>.sun-beams {
        transition: transform .5s var(--ease-elastic-2), opacity .5s var(--ease);
    }

    [data-theme="dark"] .sun-and-moon>.sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease);
        transition-duration: .25s;
    }

    [data-theme="dark"] .sun-and-moon>.sun-beams {
        transform: rotateZ(-25deg);
        transition-duration: .15s;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon .moon>circle {
        transition: transform .25s var(--ease-out);
    }

    @supports (cx: 1) {
        .sun-and-moon .moon>circle {
            transition: cx .25s var(--ease-out);
        }
    }

    [data-theme="dark"] .sun-and-moon>.moon>circle {
        transition-delay: .25s;
        transition-duration: .5s;
    }
}

@media (hover: none) {

}

@media (prefers-reduced-motion: no-preference) {

}